@model CyberSecLabPlatform.Models.Incident

<h2>Информация об инциденте</h2>

<table class="table">
    <tr><th>Тип</th><td>@Model.Type</td></tr>
    <tr><th>Описание</th><td>@Model.Description</td></tr>
    <tr><th>Уровень угрозы</th><td>@Model.Severity</td></tr>
    <tr><th>Дата</th><td>@Model.DetectedAt</td></tr>
</table>

<a href="/Incidents" class="btn btn-secondary">Назад</a>
