@model CyberSecLabPlatform.Models.Scenario

@{
    ViewData["Title"] = "Создать сценарий";
}

<h2>Создать сценарий</h2>

<form asp-action="CreateScenario" method="post">
    <div class="form-group">
        <label>Название</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label>Тип атаки</label>
<select asp-for="AttackTypeId" 
        asp-items="@(new SelectList(ViewData["AttackTypes"] as List<CyberSecLabPlatform.Models.AttackType>, "Id", "Name"))" 
        class="form-control">
</select>
    </div>
    <div class="form-group">
        <label>Максимальный балл</label>
        <input asp-for="MaxScore" class="form-control" type="number" />
    </div>
    <div class="form-check">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label">Активен</label>
    </div>

    <button type="submit" class="btn btn-success mt-3">Создать</button>
</form>
